// @mixin font($font_name, $file_name, $weight, $style) {
//   @font-face {
//     font-family: $font_name;
//     font-display: swap;
//     src: url("../fonts/#{$file_name}.woff") format("woff"),
//       url("../fonts/#{$file_name}.woff2") format("woff2");
//     font-weight: #{$weight};
//     font-style: #{$style};
//   }
// }
@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
// @import '_normalize';
@import "fonts";
@import "_vars";
@import "_global";
h1 {
  color: #eaa74d;
}
body {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 600;
  font-style: normal;
  max-width: 1440px;
}
header{
  max-width: 1400px;
  margin: 0 auto;
}
.logo {
  width: 120px;
  height: 120px;
}
#my-video{
  z-index: -1;
  position: fixed;
}
#menu-toggle {
  position: absolute;
  opacity: 0;
}
#menu-toggle:checked ~ .menu-btn > span {
  transform: rotate(45deg);
}
#menu-toggle:checked ~ .menu-btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu-toggle:checked ~ .menu-btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu-toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 6%;
  right: 3%;
  width: 3%;
  height: 6%;
  cursor: pointer;
  z-index: 10;
}
.menu-btn > span,
.menu-btn > span::before,
.menu-btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #dd7446;
  transition-duration: 0.6s;
}
.menu-btn > span::before {
  content: "";
  top: -10px;
}
.menu-btn > span::after {
  content: "";
  top: 10px;
}
.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  // height: 100%;
  // margin: 0 45%;
  padding: 80px 0;
  list-style: none;
  transition-duration: 0.6s;
}
.menu-item {
  max-width: 50%;
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menu-item:hover {
  background-color: rgba(200, 236, 252, 0.8);
  max-width: 50%;
  border-radius: 15px;
  text-align: center;
}
.main-page-text, .page-links, .menu-item{
  display: block;
  max-width: 60%;
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.1rem;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px #AF3D48, 0 0 5px #dd7446;
}
.page-links{
  margin-top: 10px;
  display: flex;
  justify-content:start;
  align-items: flex-start;
  gap: 10%;
}